@import "tailwindcss";

* {
  --primary-color: #18293A;
  scroll-behavior: smooth;
  user-select: none;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #fffbf3;
}
.background {
  background-color: #fffbf3;
}
body::-webkit-scrollbar {
  display: none;
}
.scrollbar_hide::-webkit-scrollbar {
  display: none;
}
.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.absolute_center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.absolute_x_center {
  left: 50%;
  transform: translate(-50%);
}

.scroll-container {
  transform: translateY(var(--scroll-top, 0));
}

.desktp_wrk_pren {
  position: relative;
  perspective: 1000px;
}

.cards-stage {
  transform-style: preserve-3d;
}

.scroll-card {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform, opacity;
}

.gallery_container {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  /* background: #69bed9; */
}

.gallery_scene {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  pointer-events: auto;
}

.gallery_item {
  position: absolute;
  width: 15vw;
  pointer-events: auto;
  filter: brightness(1);
}

.gallery_item.dimmed {
  filter: brightness(0.2);
}

.grid_inne {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  width: fit-content;
  height: fit-content;
  position: relative;
}

.gallery_container {
  pointer-events: none;
}
